<!DOCTYPE html>
<html>
<head>
  <title>Upload files</title>
</head>
<body>
  <a href="/files/">Go to files</a>
  <br><br>

  <progress value="0" max="100"></progress>
  <br><br>

  <form method="POST">
    <label> Upload mode: <br>
      Full file <input type="radio" name="mode" value="full" checked>
      <br>
      Chunks <input type="radio" name="mode" value="chunk">
    </label>
    <br><br>

    <input type="file" name="file" required>
    <br><br>

    <input type="submit" name="submit">
  </form>

  <script type="text/javascript">
    class UploadError extends Error {
      constructor(status, text) {
        super();
        this.message = `${status}\t${text}`;
      }
    }

    class Progress {
      static defaultOptions = { value: 0, max: 100 };

      constructor(progressBar, options = Progress.defaultOptions) {
        this.el = progressBar;

        // init element
        const { value, max } = options;

        this.el.value = value;
        this.el.max = max;
      }

      get val() {
        return this.el.value;
      }

      set val(val) {
        this.el.value = val;
      }

      set max(val) {
        this.el.max = val;
      }
    }

    class FileAPI {
      static TRANSACTION_URL = '/files/upload/transaction';
      static UPLOAD_CHUNK_URL = '/files/upload/chunk';
      static UPLOAD_FILE_URL = '/files/upload/file';

      static async requestTransaction(file) {
        const response = await fetch(FileAPI.TRANSACTION_URL, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify({
            file: {
              name: file.name,
              size: file.size,
            },
          }),
        });

        if (!response.ok) {
          throw UploadError(response.status, response.statusText);
        }

        const transactionID = await response.text();
        return transactionID;
      }

      static async uploadFile(transactionID, file, cb = console.log) {
        const formData = new FormData();
        formData.append('ID', transactionID);
        formData.append('file', file);

        const xhr = new XMLHttpRequest();
        xhr.upload.onprogress = cb;
        xhr.open('POST', FileAPI.UPLOAD_FILE_URL, true);
        xhr.send(formData);
      }

      static async uploadChunk(transactionID, chunk) {
        const formData = new FormData();
        formData.append('ID', transactionID);
        formData.append('chunk', chunk);

        const response = await fetch(FileAPI.UPLOAD_CHUNK_URL, {
          method: 'POST',
          body: formData,
        });

        FileAPI.checkResponse(response);
      }

      static async checkResponse(response) {
        if (!response.ok) {
          const { status, statusText } = response;
          throw UploadError(status, statusText);
        }

        const responseData = await response.json();

        if (!responseData.ok) {
          const { status, statusText } = responseData;
          throw UploadError(status, statusText);
        }
      }
    }

    class Uploader {
      static FILE_MODE = 'file';
      static CHUNK_MODE = 'chunk';

      static FIVE_KB = 5 * 1024;

      constructor(progress, fileAPI) {
        this.API = fileAPI;
        this.progress = progress;
      }

      async uploadFile(mode, file) {
        this.progress.val = 0;
        this.progress.max = file.size;

        switch (mode) {
          case Uploader.CHUNK_MODE:
            return this.uploadByChunks(file);
          case Uploader.FILE_MODE:
          default:
            return this.uploadAsFile(file);
        }
      }

      async uploadByChunks(file) {
        const transactionID =
          await this.API.requestTransaction(file);

        const size = file.size;

        let start = 0;
        let end = Uploader.FIVE_KB;

        while (start < size) {
          if (end >= size) end = size + 1;

          const chunk = file.slice(start, end);
          await this.API.uploadChunk(transactionID, chunk);

          this.progress.val += end;

          start = end;
          end += Uploader.FIVE_KB;
        }
      }

      async uploadAsFile(file) {
        const transactionID
          = await this.API.requestTransaction(file);
        this.API.uploadFile(transactionID, file, (e) => {
          this.progress.val = e.loaded;
        });
      }
    }

    (function main() {
      const progressEl = document.querySelector('progress');
      const progress = new Progress(progressEl);
      const uploader = new Uploader(progress, FileAPI);

      const fileForm = document.forms[0];
      fileForm.addEventListener('submit', async (e) => {
        e.preventDefault();

        const formElements = e.target.elements;
        const formMode = formElements.mode.value;
        const formFiles = formElements.file.files;


        for (let file of Array.from(formFiles)) {
          await uploader.uploadFile(formMode, file);
        }

        e.target.reset();
      });
    }());
  </script>
</body>
</html>